body {
  background-color: lightblue;
  border: 20px dotted gold;
  }
h1{
  color: blue;
  font-size: 50px;
  font-family: "Arial";
}
h2{
  color: black;
  font-size: 30px;
  font-family: "Comic Sans MS"; 
  text-shadow 2px 2px;
}

h3{
  font-family: "Papyrus";
}
a:hover {
  color: yellow;
}
