body {
  background-color: DeepSkyBlue;
  border: 10px dashed orange;
  }

h1{
  color: white;
  font-size: 50px;
  font-family: "Arial";
  text-shadow: 2px 2px blue;
}
h2{
  color: white;
  font-size: 30px;
  font-family: "Comic Sans MS"; 
  text-shadow: 2px 2px blue;
}

h3{
  color: white;
  font-family: "Times New Roman";
  text-shadow: 2px 2px orange;
}
a:hover {
  color: gold;
}
